appdirs==1.4.4
asteval==0.9.31
asttokens==2.4.0
astunparse==1.6.3
backcall==0.2.0
blinker==1.6.2
brightway2==2.4.3
bw-migrations==0.2
bw2analyzer==0.10
bw2calc==1.8.2
bw2data==3.6.6
bw2io==0.8.8
bw2parameters==1.1.0
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
comm==0.1.4
constructive-geometries==0.8.2
contourpy==1.1.1
country-converter==1.0.0
cycler==0.11.0
debugpy==1.8.0
decorator==5.1.1
docopt==0.6.2
eight==1.0.1
et-xmlfile==1.1.0
executing==1.2.0
fasteners==0.19
Flask==2.3.3
fonttools==4.42.1
future==0.18.3
idna==3.4
ipykernel==6.25.2
ipython==8.15.0
itsdangerous==2.1.2
jedi==0.19.0
Jinja2==3.1.2
jupyter_client==8.3.1
jupyter_core==5.3.1
kiwisolver==1.4.5
lxml==4.9.3
MarkupSafe==2.1.3
matplotlib==3.8.0
matplotlib-inline==0.1.6
mrio-common-metadata==0.2.1
nest-asyncio==1.5.8
numpy==1.23.0
openpyxl==3.1.2
packaging==23.1
pandas==1.5.1
parso==0.8.3
peewee==3.16.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.0.1
Pint==0.22
platformdirs==3.10.0
prompt-toolkit==3.0.39
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
Pygments==2.16.1
pyparsing==3.1.1
PyPrind==2.11.3
python-dateutil==2.8.2
python-json-logger==2.0.7
pytz==2023.3.post1
pyxlsb==1.0.10
pyzmq==25.1.1
requests==2.31.0
scipy==1.11.2
six==1.16.0
stack-data==0.6.2
stats-arrays==0.6.5
tabulate==0.9.0
toolz==0.12.0
tornado==6.3.3
tqdm==4.66.1
traitlets==5.10.0
typing_extensions==4.8.0
unicodecsv==0.14.1
Unidecode==1.3.6
urllib3==2.0.5
voluptuous==0.13.1
wcwidth==0.2.6
Werkzeug==2.3.7
Whoosh==2.7.4
wrapt==1.15.0
wurst==0.3.4
xlrd==2.0.1
XlsxWriter==3.1.4
