appdirs==1.4.4 ; python_version >= "3.10" and python_version < "3.12"
asteval==0.9.31 ; python_version >= "3.10" and python_version < "3.12"
astunparse==1.6.3 ; python_version >= "3.10" and python_version < "3.12"
attrs==23.1.0 ; python_version >= "3.10" and python_version < "3.12"
boto3==1.34.7 ; python_version >= "3.10" and python_version < "3.12"
botocore==1.34.7 ; python_version >= "3.10" and python_version < "3.12"
bottleneck==1.3.7 ; python_version >= "3.10" and python_version < "3.12"
bw-migrations==0.2 ; python_version >= "3.10" and python_version < "3.12"
bw2calc==1.8.2 ; python_version >= "3.10" and python_version < "3.12"
bw2data==3.6.6 ; python_version >= "3.10" and python_version < "3.12"
bw2io==0.8.12 ; python_version >= "3.10" and python_version < "3.12"
bw2parameters==1.1.0 ; python_version >= "3.10" and python_version < "3.12"
cached-property==1.5.2 ; python_version >= "3.10" and python_version < "3.12"
certifi==2023.11.17 ; python_version >= "3.10" and python_version < "3.12"
cffi==1.16.0 ; python_version >= "3.10" and python_version < "3.12"
chardet==5.2.0 ; python_version >= "3.10" and python_version < "3.12"
charset-normalizer==3.3.2 ; python_version >= "3.10" and python_version < "3.12"
click==8.1.7 ; python_version >= "3.10" and python_version < "3.12"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "3.12" and platform_system == "Windows"
constructive-geometries==0.9.5 ; python_version >= "3.10" and python_version < "3.12"
contextlib2==21.6.0 ; python_version >= "3.10" and python_version < "3.12"
country-converter==1.2 ; python_version >= "3.10" and python_version < "3.12"
cowsay ; python_version >= "3.10" and python_version < "3.12"
cryptography==41.0.7 ; python_version >= "3.10" and python_version < "3.12"
datapackage==1.15.2 ; python_version >= "3.10" and python_version < "3.12"
docopt==0.6.2 ; python_version >= "3.10" and python_version < "3.12"
ecoinvent-interface==2.4.1 ; python_version >= "3.10" and python_version < "3.12"
eight==1.0.1 ; python_version >= "3.10" and python_version < "3.12"
et-xmlfile==1.1.0 ; python_version >= "3.10" and python_version < "3.12"
fasteners==0.19 ; python_version >= "3.10" and python_version < "3.12"
future==0.18.3 ; python_version >= "3.10" and python_version < "3.12"
greenlet==3.0.3 ; python_version >= "3.10" and python_version < "3.12" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32")
idna==3.6 ; python_version >= "3.10" and python_version < "3.12"
ijson==3.2.3 ; python_version >= "3.10" and python_version < "3.12"
isodate==0.6.1 ; python_version >= "3.10" and python_version < "3.12"
jmespath==1.0.1 ; python_version >= "3.10" and python_version < "3.12"
jsonlines==4.0.0 ; python_version >= "3.10" and python_version < "3.12"
jsonpointer==2.4 ; python_version >= "3.10" and python_version < "3.12"
jsonschema-specifications==2023.12.1 ; python_version >= "3.10" and python_version < "3.12"
jsonschema==4.20.0 ; python_version >= "3.10" and python_version < "3.12"
Levenshtein ; python_version >= "3.10" and python_version < "3.12"
linear-tsv==1.1.0 ; python_version >= "3.10" and python_version < "3.12"
llvmlite==0.41.1 ; python_version >= "3.10" and python_version < "3.12"
lxml==4.9.3 ; python_version >= "3.10" and python_version < "3.12"
mrio-common-metadata==0.2.1 ; python_version >= "3.10" and python_version < "3.12"
numba==0.58.1 ; python_version >= "3.10" and python_version < "3.12"
numpy==1.26.2 ; python_version >= "3.10" and python_version < "3.12"
openpyxl==3.1.2 ; python_version >= "3.10" and python_version < "3.12"
packaging==23.2 ; python_version >= "3.10" and python_version < "3.12"
pandas==2.1.4 ; python_version >= "3.10" and python_version < "3.12"
peewee==3.17.0 ; python_version >= "3.10" and python_version < "3.12"
pint==0.23 ; python_version >= "3.10" and python_version < "3.12"
platformdirs==4.1.0 ; python_version >= "3.10" and python_version < "3.12"
playsound git+https://github.com/taconi/playsound.git#egg=playsound; python_version >= "3.10" and python_version < "3.12"
premise-gwp==0.9.6 ; python_version >= "3.10" and python_version < "3.12"
premise==1.8.1 ; python_version >= "3.10" and python_version < "3.12"
prettytable==3.9.0 ; python_version >= "3.10" and python_version < "3.12"
psutil==5.9.7 ; python_version >= "3.10" and python_version < "3.12"
pyarrow==14.0.2 ; python_version >= "3.10" and python_version < "3.12"
pycountry==23.12.11 ; python_version >= "3.10" and python_version < "3.12"
pycparser==2.21 ; python_version >= "3.10" and python_version < "3.12"
pyprind==2.11.3 ; python_version >= "3.10" and python_version < "3.12"
python-dateutil==2.8.2 ; python_version >= "3.10" and python_version < "3.12"
python-json-logger==2.0.7 ; python_version >= "3.10" and python_version < "3.12"
python-levenshtein==0.23.0 ; python_version >= "3.10" and python_version < "3.12"
pytz==2023.3.post1 ; python_version >= "3.10" and python_version < "3.12"
pyxlsb==1.0.10 ; python_version >= "3.10" and python_version < "3.12"
pyyaml==6.0.1 ; python_version >= "3.10" and python_version < "3.12"
referencing==0.32.0 ; python_version >= "3.10" and python_version < "3.12"
requests==2.31.0 ; python_version >= "3.10" and python_version < "3.12"
rfc3986==2.0.0 ; python_version >= "3.10" and python_version < "3.12"
rpds-py==0.15.2 ; python_version >= "3.10" and python_version < "3.12"
s3transfer==0.10.0 ; python_version >= "3.10" and python_version < "3.12"
schema==0.7.5 ; python_version >= "3.10" and python_version < "3.12"
scipy==1.11.4 ; python_version >= "3.10" and python_version < "3.12"
six==1.16.0 ; python_version >= "3.10" and python_version < "3.12"
sparse==0.14.0 ; python_version >= "3.10" and python_version < "3.12"
sqlalchemy==2.0.23 ; python_version >= "3.10" and python_version < "3.12"
stats-arrays==0.6.6 ; python_version >= "3.10" and python_version < "3.12"
tableschema==1.20.2 ; python_version >= "3.10" and python_version < "3.12"
tabulator==1.53.5 ; python_version >= "3.10" and python_version < "3.12"
toolz==0.12.0 ; python_version >= "3.10" and python_version < "3.12"
tqdm==4.66.1 ; python_version >= "3.10" and python_version < "3.12"
typing-extensions==4.9.0 ; python_version >= "3.10" and python_version < "3.12"
tzdata==2023.3 ; python_version >= "3.10" and python_version < "3.12"
unicodecsv==0.14.1 ; python_version >= "3.10" and python_version < "3.12"
unidecode==1.3.7 ; python_version >= "3.10" and python_version < "3.12"
urllib3==2.0.7 ; python_version >= "3.10" and python_version < "3.12"
voluptuous==0.14.1 ; python_version >= "3.10" and python_version < "3.12"
wcwidth==0.2.12 ; python_version >= "3.10" and python_version < "3.12"
wheel==0.42.0 ; python_version >= "3.10" and python_version < "3.12"
whoosh==2.7.4 ; python_version >= "3.10" and python_version < "3.12"
wrapt==1.16.0 ; python_version >= "3.10" and python_version < "3.12"
wurst==0.4 ; python_version >= "3.10" and python_version < "3.12"
xarray==2023.12.0 ; python_version >= "3.10" and python_version < "3.12"
xlrd==2.0.1 ; python_version >= "3.10" and python_version < "3.12"
xlsxwriter==3.1.9 ; python_version >= "3.10" and python_version < "3.12"
